<!-- <div class="card meetings cf">

  <div class="textintro">
    <h1>Success</h1>
    <p>{{ message }}</p>
  </div>
</div> -->
<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

  </head> -->
  <!-- <body> -->
    <!-- The Modal -->
    <!-- <div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>
</div> -->

    
    <button
      onclick="document.getElementById('id01').style.display='block'"
      class="w3-button w3-black"
    >
      Open Modal
    </button>
    <style>
      .champs {
        width: 50%;
      }
      .Comment {
        width: 50%;
        height: 30%;
      }
    </style>
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-card-4">
        <header>
          <span
            onclick="document.getElementById('id01').style.display='none'"
            class="w3-button w3-display-topright"
            >&times;</span
          >
          <h3 id="modalTitle">Entrez vos coordonnées, svp.<h3>
          <hr />
        </header>
        <div class="w3-container">
          <label for="username">Nom: </label> <br />
          <input
            type="text"
            id="username"
            name="username"
            class="champs"
          /><br />
          <label for="mail">Courriel: </label><br />
          <input type="text" id="mail" name="mail" class="champs" /><br />
          <label for="tel">Téléphone: </label><br />
          <input type="text" id="tel" name="tel" class="champs" /><br />
          <label for="mail">Commentaire: </label><br />
          <textarea id="comment" rows="4" cols="50"> </textarea><br />
          <!-- <input
            type="text"
            id="comment"
            name="comment"
            class="Comment"
          /><br /> -->
          <input type="submit" value="Réserver"  onclick="bookDate()"/><br />
          <p></p>
        </div>
        <!-- <footer class="w3-container w3-teal">
          <p>Modal Footer</p>
        </footer> -->
      </div>
    </div>

    J'ai envie de ne pas leur montrer Google Calendar et leur créer un portail
    avec un login React, pour ne pas qu'il voient mon secret !!
    <button onclick="query()">Query Dates</button>
    <button onclick="readDates()">Read Dates</button>
    <button onclick="updateDates()">Update Dates</button>
    <div id="calendar"></div>
  <!-- </body> -->
 
<!-- </html> -->
